<a href="https://colab.research.google.com/github/JYP0824/study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC/%ED%8C%8C%EC%9D%B4%EC%8D%AC_for_beginner2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2차원 리스트

In [ ]:
list1 = []
list2 = []
value = 1

for i in range(0,3):
  for k in range(0,4):
    list1.append(value)
    value += 1
  list2.append(list1)
  list1 = []

list2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

**튜플**

리스트는 []로 생성, 튜플은 ()로 생성

튜플의 경우 값을 수정할 수 없으며, 읽기만 가능해 읽기 전용 자료를 저장할 때 사용

In [ ]:
tt1 = (10, 20, 30); tt1

(10, 20, 30)

In [ ]:
tt1.append(40)
tt[0] = 4
del(tt1[0])

#튜플은 읽기 전용이기에 다음 함수 사용 시 오류 발생

AttributeError: ignored

In [ ]:
del(tt1)

In [ ]:
tt1 = (1,2,3,4)
tt1[0] + tt1[1] + tt1[3]

7

In [ ]:
tt1[1] * tt1[3]

8

In [ ]:
numlist = [num * num for num in range(1,7)]
numlist

[1, 4, 9, 16, 25, 36]

In [ ]:
numlist = [num * num for num in range(1,7)if num == 2]
numlist

[4]

In [ ]:
num = [1, 2, 3, 4]
ee = ['일', '이', '삼', '사']

for i, k in zip(num, ee):
  print(i, '-->', k)

#zip()함수를 통해 동시에 여러 리스트 접근

1 --> 일
2 --> 이
3 --> 삼
4 --> 사

In [ ]:
old = [1, 2, 3]
new = old
old[0] = '일'
old.append('삼')
new

#위에서 new = old를 선언 했음에도 최종 new 값으로 old와 동일하게 선언되었다
#즉, new = old를 선언함으로 동일 메모리 공간을 공유하게 된 것이다

['일', 2, 3, '삼']

In [ ]:
old = [1, 2, 3]
new = old[:]
old[0] = '일'
old.append('삼')
new

#[:]를 추가함으로 별도의 메모리 공간을 갖게 해줌으로 방지 할 수 있다

[1, 2, 3]

In [ ]:
ss = '종강시켜줘'
print(ss[0])
print(ss[::-1])
print(ss * 3)
len(ss)

종
줘켜시강종
종강시켜줘종강시켜줘종강시켜줘

5

**문자열 찾기**

* .find(찾을 문자열)

0부터 시작해서 몇 번째인지 찾음

.find(찾을 문자열, 5)

5번째부터 시작해서 찾음

*  .rfind(찾을 문자열

뒤부터 시작해서 몇 번째인지 찾음

둘 다 찾을 문자열이 없을 경우 -1을 반환
*   .index(찾을 문자열), .rindex(찾을 문자열)

기능은 .find()와 같으나 해당 문자열이 없을 경우 오류 발생



*   .startswith(시작 부분), .endswith(끝 부분)

해당 문자열을 찾을 경우 True반환, 아니면 False 반환

**문자열 공백 삭제/변경**



*   .strip(), .rstrip, .lstrip

문자열 앞뒤의 공백/특정 문자 삭제

*   .replace()

.replace('기존문자열', '새문자열')

In [ ]:
ss = ' prog      '
print(ss.strip)
print(ss.rstrip)
ss.lstrip

<built-in method strip of str object at 0x7fa2e28fdb30>
<built-in method rstrip of str object at 0x7fa2e28fdb30>

In [ ]:
ss1 = '아 에 이 오우'
print(ss1.replace('에', 'dkdkdk'))

s = 'aaakakakaa'
s.replace('k','아')

아 dkdkdk 이 오우

'aaa아a아a아aa'

**대/소문자 변환**



*   .upper()
*   .lower()

문자열 전체 대/소문자


*   .swapcase()
*   .title()

In [ ]:
ss2 = 'colab study'
print(ss2.swapcase())
print(ss2.title())

COLAB STUDY
Colab Study

**문자열 분리/결합**



*   .split()


*   .splitlines

행 단위로 분리
*   .join()

In [ ]:
ss = '파 파 파 이 이 썬'
ss.split()

['파', '파', '파', '이', '이', '썬']

In [ ]:
ss = '아:아:아'
ss.split(':')

['아', '아', '아']

In [ ]:
ss = '%%'
ss.join('파이썬')

'파%%이%%썬'

**함수명 대입**



*   .map()

In [ ]:
aaaa = '아아'

replace = list(map(str, aaaa))
replace

['아', '아']

**문자열 정렬 채우기**



*   .center()
*   .ljust()


*   .rjust()
*   .zfill()

In [ ]:
ss = 'python'
print(ss.center(10))

  python

In [ ]:
print(ss.center(10, '-'))
ss.zfill(10) #오른 쪽으로 붙이고 빈 공간에 0 추가

--python--

'0000python'

**문자열 구성 파악하기**

문자열의 구성 성분을 파악해 True, False로 반환



*   .isdigit()

문자열이 숫자로만 구성되었는지 확인
*   .isalpha()

문자열이 영어, 한글로만 구성되었는지 확인

*   .islower()

문자열이 소문자로만 구성되었는지 확인
*   .isupper()

문자열이 대문자로만 구성되었는지 확인

*   .isalnum()

문자열에 글자와 숫자가 섞여있는지 확인
*   .isspace()

문자열이 공백문자로만 구성되었는지 확인

In [ ]:
def fun1():
  a = 20
  print("fun1 = %d" %a)  #지역변수 a값

def fun2():
  print("fun2 = %d" %a)  #전역변수 a값

a = 10

fun1()
fun2()

fun1 = 20
fun2 = 10

In [ ]:
def fun1():
  global a
  a = 10
  print(a)

def fun2():
  print(a)

a = 30

fun1()
fun2()

10
10



*   global 함수

위의 코드를 보면 알 수 있듯 global a 선언을 통해 기존 전역변수 a 값을 삭제한 후 4열에서 다시 a를 10의 값을 가진 전역변수로 선언함

여러 매개변수를 동시에 처리하는 경우

*매개변수

=> 튜플 형태로 처리된다

In [ ]:
def sub(*para):
  result = 0
  for num in para:
    result += num
  return result

a = sub(10, 20)
print(a)

30

**매개변수

의 형태로 입력할 경우 튜플이 아닌 딕셔너리 타입으로 처리된다

In [ ]:
def dic(**para):
  for k in para.keys():
    print("%s --> %d" %(k, para[k]))

dic(일 = 1, 이 = 2, 삼 = 3)

일 --> 1
이 --> 2
삼 --> 3

**파일 열기 모드**



*   읽기용

변수명 = open("파일명", "r")
*   쓰기용

변수명 = open("파일명", "w")





*   생략 = r

읽기 모드, 기본값
*   w

쓰기 모드, 기존에 파일이 있으면 덮어쓴다
*   r+

읽기/쓰기 겸용
*   a

쓰기 모드. 기존에 파일이 있으면 이어 쓴다 (append)
*   t

텍스트 모드, 텍스트 파일을 처리한다, 기본값
*   b

이진 모드, 이진 파일을 처리한다


**파일 닫기**



*   .close()

**대표적 에러 종류**




*   ImportError

import문에서 오류 발생
*   IndexError

리스트 등 첨자의 범위를 벗어날 때
*   KeyError

딕셔너리에서 키가 없을 때
*   KeyBoardInterrupt

프로그램 실행 중 ctrl+c누를 때

*   NameError

변수명이 없는 것에 접근 할 때
*   RecursionError

재귀 호출의 횟수가 시스템에서 설정한 것보다 넘칠 때(1000번)

*   RuntimeError

실행이 발생할 때
*   SyntaxError

exec()나 eval()에서 문법상 오류가 발생할 때

*   TypeError

변수형의 오류가 발생했을 때 ex)문자열-문자열 연산
*   ValueError

함수의 매개변수에 잘못된 값을 넘길 때 ex)int('파이썬')


*   ZeroDivisionError

0으로 나눌 때
*   IOError

파일 처리 등 오류일 


*   SyntaxError

문자블록의 구문 속 오류

# **class**


* 1. 클래스 선언

class:

  필드선언

  메서드 선언

* 2. 인스턴스 생성

인스턴스 = 클래스명()

* 3. 필드나 메서드에서 활용

인스턴스.필드명 = 값

인스턴스.메서드()

In [4]:
class car:
  color = ""
  speed = 0

  def speedup(self, value):
    self.speed += value

  def speeddown(self,value):
    self.speed -= value

car1 = car()
car1.color = "검정"
car1.speed = 10

car2 = car()
car2.color = "파랑"
car2.speed = 40

car1.speedup(10)

car2.speeddown(20)

print(car1.color, car1.speed)
print(car2.color, car2.speed)

검정 20
파랑 20

In [10]:
class car:
  color = ""
  speed = 0

  def __init__(self, clr, spd):
    self.color = clr
    self.speed = spd


car2 = car("파랑", 30)

print(car2.color, car2.speed)

파랑 30



*   __init__()

생성자

In [21]:
class car:
  speed = 0
  car_count = 0

  def __init__(self):
    self.speed = 0
    car.car_count += 1

car1, car2 = None, None

car1 = car()
car1.speed = 20

print(car1.speed, car.car_count)

car2 = car()
car2.speed = 30

print(car2.speed, car2.car_count)

20 1
30 2

**메서드 오버라이딩**

상위 클래스의 매서드를 서브 클래서에서 재정의하는 것

In [31]:
class car:
  speed = 0
  def upspeed(self, value):
    self.speed += value

    print(self.speed)

class truck(car):
  def upspeed(self, value):
    self.speed += value

    if self.speed > 150:
      self.speed = 150
class f1(car):
  pass

f11, truck1 = None, None

f11 = f1()
truck1 = truck()

f11.upspeed = 300
print(f11.upspeed)
truck1.upspeed = 120
print(truck1.upspeed)

300
120