<a href="https://colab.research.google.com/github/JYP0824/study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_for_beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   input()
값 입력 함수

In [4]:
 a = input()

print(a)

ww
ww



*   int()
input()함수의 경우 문자열만 입력함
int()를 이용해 정수로 변환해보기

In [7]:
a = int(input())
print(a)

12
12

In [8]:
a = int(input())
print(a)

#정수 이외의 값 입력 시 에러 발생

12.11

ValueError: ignored

In [10]:
a = float(input())

print(a)

12.11
12.11



*   %d
지정된 서식 추가

In [12]:
print("%d" % 100)

print("%d" % (100 + 100))

100
200


**print()함수에 사용할 수 있는 서식**

*   %d, %x %o

정수(10진수, 16진수, 8진수)
*   %f

실수
*   %c

한 글자
*   %s

문자열



*   .format()

출력 순서 제어 함수

In [13]:
print("{0:d} {2:d} {1:d}".format(10, 20, 30))

10 30 20

In [16]:
s1, s2 = 100, 101.12

print(int(s1)+ 1, float(s2) + 1)

101 102.12

In [47]:
import numpy as np

numb = []

for i in range(0,10):
  numb.append(np.random.rand())


for i in range(0, 10):
  numb.append(i)

numb

[0.5482704062052599,
 0.44439524696768395,
 0.958283334803105,
 0.17239308576633616,
 0.5730988470527811,
 0.8572532437645674,
 0.0029656382669774883,
 0.05544199380396142,
 0.21620466938509497,
 0.4665955360991485,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [51]:
select = 0

select = int(input("입력: "))

if select == 1:
  print("ㅇㅇ")

elif select == 2:
  print("ㅇㅋ")

else:
  print("오류, 1, 2 중 입력")

입력: 1
ㅇㅇ

In [57]:
for i in range(1, 3):
  for k in range(1, 10):
    print("%d * %d = %d \n" %(i, k, i*k))

1 * 1 = 1

1 * 2 = 2

1 * 3 = 3

1 * 4 = 4

1 * 5 = 5

1 * 6 = 6

1 * 7 = 7

1 * 8 = 8

1 * 9 = 9

2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

2 * 4 = 8

2 * 5 = 10

2 * 6 = 12

2 * 7 = 14

2 * 8 = 16

2 * 9 = 18



*   for문

for(시작 값, 끝값 + 1, 증가값)

In [58]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9



*   while문

while 변수 < 끝값:

  이 부분 반복

  변수 += 증가값



while True:

  무한반복

break를 통해 제어




*   break

반복문 탈출
*   continue

반복문으로 다시 돌아감

In [76]:
for i in range(1, 10):
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9

**list**

aa = [10, 20, 30, 40]

list[시작:끝+1:증가값] 호출 가능

In [81]:
aa = [0,0]

aa[0] = int(input("1번: "))
aa[1] = int(input("2번: "))

aa

1번: 1
2번: 2

[1, 2]

In [84]:
aa = []

aa.append(int(input("1번: ")))
aa.append(int(input('2번: ')))
aa[:1]

1번: 1
2번: 2

[1]

**list 조작 함수**



*   .append()

리스트 맨 뒤에 항목 추가

list.append(값)
*   .pop()

리스트 맨 뒤의 항목을 빼낸다(리스트에서 해당 항목이 삭제된다)

*   .sort()

리스트의 항목을 정렬한다(오름차순)

*   .reverse()

리스트의 항목의 순서를 역순으로 만든다
*   .index()

지정한 값을 찾아 해당 위치를 반환한다

list.index(찾을 값)
*   .insert()

지정된 위치에 값을 삽입한다

list.insert(위치, 값)
*   .remove()

리스트에서 지정한 값을 삭제한다. 단, 지정한 값이 여러개일 경우 첫 번째 값만 삭제한다

list.remove(지울 값)
*   .extend()

리스트 뒤에 리스트를 추가한다. 리스트의 더하기 연산과 동일한 기능이다

list.extend(추가할 리스트)
*   .count()

리스트에서 해당 값의 개수를 센다

list.count(찾을 값)
*   .clear()

리스트의 내용을 모두 지운다
*   del()

리스트에서 해당 위치의 항목을 삭제한다

del(list[위치])
*   len()

리스트에 포함된 전체 항목의 수를 센다

len(list)

*   copy()

리스트의 내용을 새로운 리스트에 복사한다

list2 = list.copy()
*   sorted()

리스트의 항목을 정렬해서 새로운 리스트에 대입한다

list2 = sorted(list)